# Ignorar o ambiente virtual do Python (onde estão esses milhares de arquivos .py e .pyc)
venv/

# Ignorar arquivos de cache que o Python cria sozinho
**/__pycache__/
*.pyc

# Ignorar a planilha gigante de dados de dengue (para não travar e não estourar o limite do GitHub)
*.csv